.dataTbl {
	border: 0.01em solid WindowText;
	border-collapse: collapse;
	background-color: ButtonFace;
}

.dataTbl>tr:nth-child(odd) {
	background-color: ButtonHighlight;
}

.dataTbl>tr>th {
	border: 0.01em solid WindowText;
	padding: 0.2em;
}

.dataTbl>tr>td {
	border: 0.01em solid WindowText;
	padding: 0.15em;
	text-align: right;
}
